.cart{
    display: flex;
    justify-content: flex-end;
    position: relative;
   
}

.cart__link{
    color: rgb(65, 6, 38);
    text-decoration: none;
    
}

.cart__items{
    background-color: azure;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 2rem;
    
   
}

.cart__button{
    padding: .6rem;
    border: none;
    border-radius: 25px;
    background-color: #2F2926;
    color: aliceblue;
}