* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.menu{
    background-color: #F3E4E1;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   gap: 1rem;
}

.menu__header{
    font-size: 2rem;
    margin-bottom: auto;
    
}

.menu__section{
   display: flex;
   justify-content: space-between;
   width: 300px;
}

.menu__image{
    width: 100%;
    margin-top: auto;
}

.menu__circle{
    width: 1.3rem;
    height: 1.3rem;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.menu__circle:hover{
    cursor: pointer;
}

h2{
    font-size: 1.3rem;
}


