.order {
  background-color: #E5674E;
  height: 100vh;
  width: 100wh;
  
  padding-top: 4rem;
  padding-bottom: 4rem;
 
}

.order__exists {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.order__title {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #FFFFFF;
  text-align: center;
}
.order__number {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: rgba(255, 255, 255, 0.7);
}
.order__time {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
  color: #FFFFFF;
}
.order__time--bold {
  font-weight: 700;
}
.order__noexists {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
 
}

.order__image {
  height: 120px;
}

.order__button {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  padding: 0.8rem 2rem 0.8rem;
  border-radius: 30px;
  border: none;
}